 
.ligaturediv{
      text-align: center;
      display: inline-block;
      padding-top: 4rem;
      padding-bottom: 4rem;
}
.ligature{
      float: right;
      padding-right: 15%;
      margin-left: 1rem;
}
  .ligaturep{
      text-align: right;
      padding-left: 8%;
      font-style: italic;
}
  .center{
      text-align: center;
}
  .justify{
      text-align: justify;
}
.leftalign {
  text-align: left;
}

  
  
  